{erl_opts,
 [debug_info,
  warnings_as_error,
  {parse_transform, lager_transform}
  ]
}.

{deps,
  [{elvis, "0.4.1", {pkg, elvis_core}},
   {lager, "3.2.1"},
   {gun, "1.1.0"}
  ]
}.

{profiles,
  [
   {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git",
   {tag, "0.1.2"}}}]}]}
  ]
}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{shell, [
    {apps, [chat_client]}
]}.
