{erl_opts,
    [debug_info,
     warnings_as_error,
     {parse_transform, lager_transform}
     ]}.

{deps,
    [{lager,"3.2.1"}
    ]}.

{relx,
    [{release,
      {simpleChat_Release, "0.0.1"},
      [simpleChat]
      },
     {dev_mode, true},
     {include_erts, false},
     {extended_start_script, true}
    ]}.

{shell,
    [{apps, [simpleChat]}
    ]}.
